* {
    box-sizing: border-box;
}

html {
   font-family: Opensans; 
   color: $clr2;
   line-height: 1.8;
}

body {
    overflow-x: hidden;
     margin: 0;
     background-color: $clr3;
     color: #fff;
}


h1 {
    font-size: rem(60px);
}

img {
    width: 100%;
}
