@font-face {
    font-family: Raleway;
    src: url(~@/assets/fonts/raleway/static/Raleway-Bold.ttf);
}
@font-face {
    font-family: Opensans;
    src: url(~@/assets/fonts/openSans/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Spartan;
    src: url(~@/assets/fonts/static/Spartan-Regular.ttf);
}
@font-face {
    font-family: Spartan-bold;
    src: url(~@/assets/fonts/static/Spartan-Bold.ttf);
}
