// COLOR PALETTE

// intro and email sign up background
$clr1: hsl(217, 28%, 15%);
//main background
$clr3: #111111;
//footer background
$clr2: hsl(216, 53%, 9%);
//testimonials background
$clr4: hsl(219, 30%, 18%);
//text-color
$clr5 : #242B37;

// LAYOUT
$mobile: 375px;
$desktop: 1440px;
